In [87]:
import duckdb
import pandas as pd

# Open an in-memory DuckDB connection
con = duckdb.connect()

# Load the merged CSVs into DuckDB tables for faster repeated queries
con.execute("""
CREATE OR REPLACE TABLE processed_last12 AS
SELECT * 
FROM read_csv_auto('../../../data/processed/processed_last12.csv', HEADER=TRUE);
""")
con.execute("""
CREATE OR REPLACE TABLE processed_longterm AS
SELECT * 
FROM read_csv_auto('../../../data/processed/processed_longterm.csv', HEADER=TRUE);
""")

# Verify the tables exist
print(con.execute("SHOW TABLES;").df())

                 name
0    processed_last12
1  processed_longterm

In [88]:
processed_last12_preview = con.execute("""
  SELECT * 
  FROM processed_last12 
  ORDER BY started_at 
  LIMIT 5;
""").df()
processed_last12_preview

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,hour_of_day
0,E92D44EC0F271F6D,electric_bike,2024-05-01 00:01:58,2024-05-01 00:05:45,Dearborn Pkwy & Delaware Pl,TA1307000128,Clark St & Schiller St,TA1309000024,41.899015,-87.629916,41.907993,-87.631501,member,3.783333,Wednesday,0
1,55FA739D575E7AE3,classic_bike,2024-05-01 00:02:35,2024-05-01 00:05:54,Dearborn Pkwy & Delaware Pl,TA1307000128,Clark St & Schiller St,TA1309000024,41.898969,-87.629912,41.907993,-87.631501,member,3.316667,Wednesday,0
2,7A296E31619D21E9,classic_bike,2024-05-01 00:04:31,2024-05-01 00:20:13,Broadway & Barry Ave,13137,Broadway & Wilson Ave,13074,41.937582,-87.644098,41.965221,-87.658139,member,15.700000,Wednesday,0
3,2FB602B952B83DB7,electric_bike,2024-05-01 00:04:34,2024-05-01 00:12:17,Broadway & Granville Ave,15571,Sheridan Rd & Loyola Ave,RP-009,41.994770,-87.660287,42.001044,-87.661198,casual,7.716667,Wednesday,0
4,2D37389234DB639E,electric_bike,2024-05-01 00:05:13,2024-05-01 00:05:48,Western Ave & Ardmore Ave,464,Western Ave & Ardmore Ave,464,41.986607,-87.689669,41.986764,-87.689880,casual,0.583333,Wednesday,0

In [89]:
processed_longterm_preview = con.execute("""
  SELECT * 
  FROM processed_longterm 
  ORDER BY started_at 
  LIMIT 5;
""").df()
processed_longterm_preview

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,hour_of_day
0,0D139A3203274B87,classic_bike,2021-01-01 00:02:24,2021-01-01 00:08:39,State St & 33rd St,13216,MLK Jr Dr & 29th St,TA1307000139,41.834734,-87.625813,41.842052,-87.617000,member,6.250000,Friday,0
1,C7AE8E9CDB197A8E,classic_bike,2021-01-01 00:06:55,2021-01-01 00:26:36,Lakeview Ave & Fullerton Pkwy,TA1309000019,Ritchie Ct & Banks St,KA1504000134,41.925858,-87.638973,41.906866,-87.626217,member,19.683333,Friday,0
2,3097EF26414C7016,classic_bike,2021-01-01 00:12:21,2021-01-01 00:12:33,Montrose Harbor,TA1308000012,Montrose Harbor,TA1308000012,41.963982,-87.638181,41.963982,-87.638181,member,0.200000,Friday,0
3,938D5D1998A5470E,classic_bike,2021-01-01 00:12:27,2021-01-01 00:12:30,Montrose Harbor,TA1308000012,Montrose Harbor,TA1308000012,41.963982,-87.638181,41.963982,-87.638181,casual,0.050000,Friday,0
4,6604F61AE4B14BC1,electric_bike,2021-01-01 00:12:49,2021-01-01 00:43:59,Western Ave & Howard St,527,Campbell Ave & Fullerton Ave,15648,42.018858,-87.690022,41.924680,-87.689328,member,31.166667,Friday,0

In [90]:
member_casual_count_last12 = con.execute("""
  SELECT 
    member_casual,
    COUNT(*) AS trip_count,
    AVG(ride_length) AS avg_ride_length,
    MAX(ride_length) AS max_ride_length
  FROM processed_last12
  GROUP BY member_casual
  ORDER BY trip_count DESC;
""").df()

print("ðŸ”· Trip Summary (Last 12 Months May 2024 - May 2025):")
member_casual_count_last12

ðŸ”· Trip Summary (Last 12 Months May 2024 - May 2025):

  member_casual  trip_count  avg_ride_length  max_ride_length
0        member     2791749        12.288877      1497.475417
1        casual     1609958        23.651827      1499.637700

In [91]:
member_casual_count_longterm = con.execute("""
  SELECT 
    member_casual,
    COUNT(*) AS trip_count,
    AVG(ride_length) AS avg_ride_length,
    MAX(ride_length) AS max_ride_length
  FROM processed_longterm
  GROUP BY member_casual
  ORDER BY trip_count DESC;
""").df()

print("\nðŸ”¶ Trip Summary (Long-Term 2021-2023):")
member_casual_count_longterm

ðŸ”¶ Trip Summary (Long-Term 2021-2023):

  member_casual  trip_count  avg_ride_length  max_ride_length
0        member     7951222        12.572112      1497.866667
1        casual     5338509        26.957304     55944.150000

In [92]:
from pathlib import Path

# Correct export path (one level up)
export_dir = Path('../data/4_exports')
export_dir.mkdir(parents=True, exist_ok=True)

# Save last12 summary
last12_path = export_dir / 'trip_summary_last12.csv'
member_casual_count_last12.to_csv(last12_path, index=False)
print(f"âœ… trip_summary_last12.csv successfully saved to {last12_path}")

# Save longterm summary
longterm_path = export_dir / 'trip_summary_longterm.csv'
member_casual_count_longterm.to_csv(longterm_path, index=False)
print(f"âœ… trip_summary_longterm.csv successfully saved to {longterm_path}")

âœ… trip_summary_last12.csv successfully saved to ..\data\4_exports\trip_summary_last12.csv
âœ… trip_summary_longterm.csv successfully saved to ..\data\4_exports\trip_summary_longterm.csv

In [93]:
ride_by_type_last12 = con.execute("""
  SELECT 
    member_casual,
    rideable_type,
    COUNT(*) AS trip_count,
    AVG(ride_length) AS avg_ride_length,
    MAX(ride_length) AS max_ride_length
  FROM processed_last12
  GROUP BY member_casual, rideable_type
  ORDER BY member_casual DESC, rideable_type DESC;
""").df()

print("ðŸ”· Trip Summary by Ride Type (Last 12 Months May 2024 - May 2025):")
ride_by_type_last12

ðŸ”· Trip Summary by Ride Type (Last 12 Months May 2024 - May 2025):

,member_casual,rideable_type,trip_count,avg_ride_length,max_ride_length
0,member,electric_scooter,22087,7.889804,97.823533
1,member,electric_bike,1042602,10.689217,479.911200
2,member,classic_bike,1727060,13.310829,1497.475417
3,casual,electric_scooter,25740,11.299602,186.553550
4,casual,electric_bike,598585,15.236447,479.751283
5,casual,classic_bike,985633,29.085154,1499.637700

In [94]:
ride_by_type_longterm = con.execute("""
  SELECT 
    member_casual,
    rideable_type,
    COUNT(*) AS trip_count,
    AVG(ride_length) AS avg_ride_length,
    MAX(ride_length) AS max_ride_length
  FROM processed_longterm
  GROUP BY member_casual, rideable_type
  ORDER BY member_casual DESC, rideable_type DESC;
""").df()

print("\nðŸ”¶ Trip Summary by Ride Type (Long-Term 2021-2023):")
ride_by_type_longterm

ðŸ”¶ Trip Summary by Ride Type (Long-Term 2021-2023):

  member_casual  rideable_type  trip_count  avg_ride_length  max_ride_length
0        member  electric_bike     2444319        11.017850       480.000000
1        member    docked_bike           1         2.633333         2.633333
2        member   classic_bike     5506902        13.261996      1497.866667
3        casual  electric_bike     1751962        16.888250       480.000000
4        casual    docked_bike      563146        66.325544     55944.150000
5        casual   classic_bike     3023401        25.459168      1499.900000

In [95]:
# Save last12 summary by ride type
ride_type_last12_path = export_dir / 'ride_by_type_last12.csv'
ride_by_type_last12.to_csv(ride_type_last12_path, index=False)
print(f"âœ… ride_by_type_last12.csv successfully saved to {ride_type_last12_path}")

# Save longterm summary by ride type
ride_type_longterm_path = export_dir / 'ride_by_type_longterm.csv'
ride_by_type_longterm.to_csv(ride_type_longterm_path, index=False)
print(f"âœ… ride_by_type_longterm.csv successfully saved to {ride_type_longterm_path}")

âœ… ride_by_type_last12.csv successfully saved to ..\data\4_exports\ride_by_type_last12.csv
âœ… ride_by_type_longterm.csv successfully saved to ..\data\4_exports\ride_by_type_longterm.csv

In [96]:
hourly_distribution_last12 = con.execute("""
SELECT 
  member_casual,                                       
  hour_of_day,
  COUNT(*) AS trip_count,
  ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY member_casual), 2) AS trip_percentage,
  ROUND(AVG(ride_length), 2) AS avg_ride_length
FROM (
  SELECT 
    member_casual,
    CAST(strftime('%H', started_at::timestamp) AS INTEGER) AS hour_of_day,
    ride_length
  FROM processed_last12
)
GROUP BY member_casual, hour_of_day
ORDER BY trip_percentage DESC;
""").df()

print("ðŸ”· Hourly Distribution (Last 12 Months May 2024 - May 2025):")
hourly_distribution_last12

ðŸ”· Hourly Distribution (Last 12 Months May 2024 - May 2025):

   member_casual  hour_of_day  trip_count  trip_percentage  avg_ride_length
0         member           17      304381            10.90            13.22
1         casual           17      155743             9.67            22.17
2         member           16      265970             9.53            12.81
3         casual           16      146516             9.10            23.24
4         member           18      228012             8.17            12.90
5         casual           15      129288             8.03            25.16
6         casual           18      129126             8.02            22.14
7         casual           14      118113             7.34            26.79
8         member            8      203209             7.28            11.07
9         casual           13      113254             7.03            27.54
10        casual           12      109624             6.81            27.48
11        member           15      189153             6.78            12.64
12        member            7      164676             5.90            11.08
13        casual           11       94310             5.86            28.84
14        casual           19       92490             5.74            21.92
15        member           19      157634             5.65            12.82
16        member           12      152200             5.45            12.11
17        member           14      152118             5.45            12.59
18        member           13      151017             5.41            12.17
19        member           11      134133             4.80            12.34
20        member            9      133064             4.77            11.25
21        casual           10       73690             4.58            28.83
22        member           10      115737             4.15            12.21
23        casual           20       66180             4.11            21.57
24        member           20      107732             3.86            12.64
25        casual            9       58581             3.64            24.25
26        casual            8       57875             3.59            17.11
27        casual           21       53697             3.34            20.31
28        member            6       83704             3.00            10.47
29        casual           22       47008             2.92            20.52
30        member           21       80771             2.89            12.45
31        casual            7       41404             2.57            15.76
32        casual           23       32951             2.05            20.79
33        member           22       56689             2.03            12.63
34        casual            0       24572             1.53            21.16
35        casual            6       21672             1.35            15.16
36        member           23       34475             1.23            12.59
37        casual            1       16176             1.00            20.89
38        member            5       27180             0.97            10.72
39        member            0       20626             0.74            11.98
40        casual            2        9620             0.60            20.82
41        casual            5        8698             0.54            14.92
42        member            1       12244             0.44            12.32
43        casual            3        5184             0.32            21.84
44        casual            4        4186             0.26            19.37
45        member            2        6627             0.24            12.22
46        member            4        5771             0.21            12.14
47        member            3        4626             0.17            11.53

In [97]:
hourly_distribution_longterm = con.execute("""
SELECT 
  member_casual,                                       
  hour_of_day,
  COUNT(*) AS trip_count,
  ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY member_casual), 2) AS trip_percentage,
  ROUND(AVG(ride_length), 2) AS avg_ride_length
FROM (
  SELECT 
    member_casual,
    CAST(strftime('%H', started_at::timestamp) AS INTEGER) AS hour_of_day,
    ride_length
  FROM processed_longterm 
)
GROUP BY member_casual, hour_of_day
ORDER BY trip_percentage DESC;
""").df()

print("ðŸ”¶ Hourly Distribution (Long-Term 2021-2023):")
hourly_distribution_longterm

ðŸ”¶ Hourly Distribution (Long-Term 2021-2023):

   member_casual  hour_of_day  trip_count  trip_percentage  avg_ride_length
0         member           17      858440            10.80            13.29
1         casual           17      516514             9.68            24.95
2         member           16      707923             8.90            13.03
3         member           18      687186             8.64            13.21
4         casual           16      458619             8.59            26.52
5         casual           18      453151             8.49            25.10
6         casual           15      408468             7.65            29.09
7         casual           14      377260             7.07            30.51
8         casual           13      362566             6.79            30.53
9         member           15      526236             6.62            12.93
10        casual           12      345456             6.47            30.09
11        member            8      511421             6.43            11.28
12        casual           19      341838             6.40            25.49
13        member           19      484608             6.09            13.00
14        member           12      443587             5.58            12.54
15        member           13      437085             5.50            12.70
16        member           14      436178             5.49            13.06
17        casual           11      292294             5.48            30.43
18        member            7      432009             5.43            11.34
19        member           11      385978             4.85            12.73
20        casual           20      247364             4.63            25.70
21        member            9      347772             4.37            11.64
22        casual           10      224908             4.21            30.02
23        member           20      329432             4.14            12.79
24        member           10      323278             4.07            12.47
25        casual           21      208511             3.91            25.27
26        casual           22      188633             3.53            25.58
27        casual            9      168543             3.16            25.56
28        member           21      248210             3.12            12.49
29        member            6      232335             2.92            10.94
30        casual            8      154884             2.90            19.53
31        casual           23      140403             2.63            26.63
32        member           22      184364             2.32            12.45
33        casual            7      113026             2.12            17.11
34        casual            0      100651             1.89            26.74
35        member           23      119055             1.50            12.46
36        casual            1       68113             1.28            29.43
37        casual            6       63250             1.18            17.84
38        member            5       78386             0.99            10.40
39        member            0       74047             0.93            12.26
40        casual            2       41530             0.78            31.88
41        member            1       45548             0.57            12.81
42        casual            5       25463             0.48            18.52
43        casual            3       22127             0.41            32.38
44        member            2       25010             0.31            12.94
45        casual            4       14937             0.28            32.09
46        member            4       18078             0.23            12.11
47        member            3       15056             0.19            12.98

In [98]:
# Save hourly distribution â€” last 12 months
hourly_last12_path = export_dir / 'hourly_distribution_last12.csv'
hourly_distribution_last12.to_csv(hourly_last12_path, index=False)
print(f"âœ… hourly_distribution_last12.csv successfully saved to {hourly_last12_path}")

# Save hourly distribution â€” long term
hourly_longterm_path = export_dir / 'hourly_distribution_longterm.csv'
hourly_distribution_longterm.to_csv(hourly_longterm_path, index=False)
print(f"âœ… hourly_distribution_longterm.csv successfully saved to {hourly_longterm_path}")

âœ… hourly_distribution_last12.csv successfully saved to ..\data\4_exports\hourly_distribution_last12.csv
âœ… hourly_distribution_longterm.csv successfully saved to ..\data\4_exports\hourly_distribution_longterm.csv

In [99]:
daily_distribution_last12 = con.execute("""
SELECT
  member_casual,
  day_of_week,
  COUNT(*) AS trip_count,
  ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY member_casual), 2) AS trip_percentage,
  ROUND(AVG(ride_length), 2) AS avg_ride_length
FROM (
  SELECT 
    member_casual,
    day_of_week,
    ride_length
  FROM processed_last12
)
GROUP BY member_casual, day_of_week
ORDER BY trip_percentage DESC;
""").df()

print("ðŸ”· Daily Distribution (Last 12 Months May 2024 - May 2025):")
daily_distribution_last12

ðŸ”· Daily Distribution (Last 12 Months May 2024 - May 2025):

   member_casual day_of_week  trip_count  trip_percentage  avg_ride_length
0         casual    Saturday      336853            20.92            26.79
1         casual      Sunday      271530            16.87            27.09
2         member   Wednesday      458159            16.41            11.94
3         member    Thursday      437015            15.65            11.79
4         casual      Friday      251117            15.60            23.05
5         member     Tuesday      430158            15.41            11.68
6         member      Friday      410870            14.72            12.10
7         member      Monday      405465            14.52            11.68
8         member    Saturday      350267            12.55            13.76
9         casual    Thursday      197948            12.30            20.85
10        casual   Wednesday      195733            12.16            20.84
11        casual      Monday      188396            11.70            22.80
12        member      Sunday      299815            10.74            13.78
13        casual     Tuesday      168381            10.46            20.24

In [100]:
daily_distribution_longterm = con.execute("""
SELECT
  member_casual,
  day_of_week,
  COUNT(*) AS trip_count,
  ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY member_casual), 2) AS trip_percentage,
  ROUND(AVG(ride_length), 2) AS avg_ride_length
FROM (
  SELECT 
    member_casual,
    day_of_week,
    ride_length
  FROM processed_longterm
)
GROUP BY member_casual, day_of_week
ORDER BY trip_percentage DESC;
""").df()

print("ðŸ”¶ Daily Distribution (Long-Term 2021-2023):")
daily_distribution_longterm

ðŸ”¶ Daily Distribution (Long-Term 2021-2023):

   member_casual day_of_week  trip_count  trip_percentage  avg_ride_length
0         casual    Saturday     1145870            21.46            29.85
1         casual      Sunday      959901            17.98            31.41
2         member   Wednesday     1263259            15.89            11.95
3         member     Tuesday     1248265            15.70            11.92
4         member    Thursday     1242054            15.62            11.97
5         casual      Friday      766730            14.36            25.58
6         member      Friday     1126372            14.17            12.34
7         member      Monday     1108387            13.94            12.08
8         member    Saturday     1046022            13.16            14.13
9         casual    Thursday      653170            12.24            23.24
10        member      Sunday      916863            11.53            14.22
11        casual      Monday      615128            11.52            27.08
12        casual   Wednesday      604816            11.33            23.10
13        casual     Tuesday      592894            11.11            23.83

In [101]:
# Save daily distribution â€” last 12 months
daily_last12_path = export_dir / 'daily_distribution_last12.csv'
daily_distribution_last12.to_csv(daily_last12_path, index=False)
print(f"âœ… daily_distribution_last12.csv successfully saved to {daily_last12_path}")

# Save daily distribution â€” long term
daily_longterm_path = export_dir / 'daily_distribution_longterm.csv'
daily_distribution_longterm.to_csv(daily_longterm_path, index=False)
print(f"âœ… daily_distribution_longterm.csv successfully saved to {daily_longterm_path}")

âœ… daily_distribution_last12.csv successfully saved to ..\data\4_exports\daily_distribution_last12.csv
âœ… daily_distribution_longterm.csv successfully saved to ..\data\4_exports\daily_distribution_longterm.csv

In [102]:
start_stations_last12 = con.execute("""
SELECT *
FROM (
  SELECT 
    member_casual,
    start_station_name,
    COUNT(*) AS trip_count,
    ROW_NUMBER() OVER (PARTITION BY member_casual ORDER BY COUNT(*) DESC) AS rn
  FROM processed_last12
  GROUP BY member_casual, start_station_name
)
WHERE rn <= 10
ORDER BY member_casual, rn;
""").df()

print("ðŸ”· Top 10 Start Stations By Member And Casual (Last 12 Months May 2024 - May 2025):")
start_stations_last12

ðŸ”· Top 10 Start Stations By Member And Casual (Last 12 Months May 2024 - May 2025):

   member_casual                  start_station_name  trip_count  rn
0         casual             Streeter Dr & Grand Ave       50462   1
1         casual   DuSable Lake Shore Dr & Monroe St       34230   2
2         casual               Michigan Ave & Oak St       24548   3
3         casual  DuSable Lake Shore Dr & North Blvd       22320   4
4         casual                     Millennium Park       22139   5
5         casual                      Shedd Aquarium       21050   6
6         casual                      Dusable Harbor       18696   7
7         casual                 Theater on the Lake       16092   8
8         casual               Michigan Ave & 8th St       13144   9
9         casual                   Adler Planetarium       12506  10
10        member            Kingsbury St & Kinzie St       30080   1
11        member        Clinton St & Washington Blvd       25693   2
12        member                   Clark St & Elm St       23552   3
13        member             Clinton St & Madison St       23514   4
14        member               Canal St & Madison St       19906   5
15        member           Clinton St & Jackson Blvd       19732   6
16        member              State St & Chicago Ave       18841   7
17        member               Wells St & Concord Ln       18650   8
18        member                   Wells St & Elm St       18577   9
19        member            University Ave & 57th St       18224  10

In [103]:
start_stations_longterm = con.execute("""
SELECT *
FROM (
  SELECT 
    member_casual,
    start_station_name,
    COUNT(*) AS trip_count,
    ROW_NUMBER() OVER (PARTITION BY member_casual ORDER BY COUNT(*) DESC) AS rn
  FROM processed_longterm
  GROUP BY member_casual, start_station_name
)
WHERE rn <= 10
ORDER BY member_casual, rn;
""").df()

print("ðŸ”¶ Top 10 Start Stations By Member And Casual (Long-Term 2021-2023):")
start_stations_longterm

ðŸ”¶ Top 10 Start Stations By Member And Casual (Long-Term 2021-2023):

   member_casual                  start_station_name  trip_count  rn
0         casual             Streeter Dr & Grand Ave      162882   1
1         casual                     Millennium Park       75018   2
2         casual   DuSable Lake Shore Dr & Monroe St       74649   3
3         casual               Michigan Ave & Oak St       73524   4
4         casual                      Shedd Aquarium       58919   5
5         casual  DuSable Lake Shore Dr & North Blvd       55236   6
6         casual                 Theater on the Lake       53013   7
7         casual               Wells St & Concord Ln       44543   8
8         casual                      Dusable Harbor       42517   9
9         casual          Indiana Ave & Roosevelt Rd       39463  10
10        member            Kingsbury St & Kinzie St       70407   1
11        member                   Clark St & Elm St       67560   2
12        member               Wells St & Concord Ln       61656   3
13        member        Clinton St & Washington Blvd       57901   4
14        member                   Wells St & Elm St       56253   5
15        member             Clinton St & Madison St       53547   6
16        member                Broadway & Barry Ave       49928   7
17        member            Loomis St & Lexington St       49713   8
18        member               Dearborn St & Erie St       49524   9
19        member                 Wells St & Huron St       48797  10

In [104]:
# Save start station â€” last 12 months
start_stations_last12_path = export_dir / 'start_stations_last12.csv'
start_stations_last12.to_csv(start_stations_last12_path, index=False)
print(f"âœ… start_stations_last12.csv successfully saved to {start_stations_last12_path}")

# Save start station â€” long term
start_stations_longterm_path = export_dir / 'start_stations_longterm.csv'
start_stations_longterm.to_csv(start_stations_longterm_path, index=False)
print(f"âœ… start_stations__longterm.csv successfully saved to {start_stations_longterm_path}")

âœ… start_stations_last12.csv successfully saved to ..\data\4_exports\start_stations_last12.csv
âœ… start_stations__longterm.csv successfully saved to ..\data\4_exports\start_stations_longterm.csv